CREATE DATABASE shop_laptop
USE shop_laptop

CREATE TABLE AnhSanPham(
	ma_anh  AS 'IMAGE_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ma_san_pham VARCHAR(20) NOT NULL UNIQUE,
	file_anh nchar(20) NOT NULL UNIQUE,
	AutoIncrement INT IDENTITY(1,1),
) 

CREATE TABLE BienDongGia(
	ma_san_pham VARCHAR(20) NOT NULL,
	gia_nhap bigint NOT NULL,
	lan_thay_doi_gia int NOT NULL,
	thoi_gian datetime NOT NULL,
)

CREATE TABLE BinhLuanSanPham(
	ma_binh_luan AS 'COMMENT_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ma_khach_hang VARCHAR(20) NOT NULL,
	ma_san_pham VARCHAR(20) NOT NULL,
	noi_dung nvarchar(60) NOT NULL,
	AutoIncrement INT IDENTITY(1,1),
)

CREATE TABLE ChiTietHoaDon(
	ma_chi_tiet_hoa_don AS 'BILL_DETAIL_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ma_hoa_don VARCHAR(20) NOT NULL,
	ma_san_pham VARCHAR(20) NOT NULL,
	so_luong int NOT NULL,
	don_gia bigint NOT NULL,
	AutoIncrement INT IDENTITY(1,1),
)

CREATE TABLE ChiTietSanPham(
	ma_san_pham VARCHAR(20) NOT NULL UNIQUE,
	cpu nvarchar(20) NULL,
	card_do_hoa nvarchar(20) NULL,
	pin int NULL,
	o_cung int NULL,
	he_dieu_hanh nvarchar(20) NULL,
	thiet_ke nvarchar(50) NULL,
	kich_thuoc int NULL,
	trong_luong int NULL,
	mo_ta_them nvarchar(30) NULL,
)

CREATE TABLE GioHang(
	ma_khach_hang VARCHAR(20) NOT NULL UNIQUE,
	ma_san_pham VARCHAR(20) NOT NULL UNIQUE,
	so_luong int NOT NULL,
	AutoIncrement INT IDENTITY(1,1),
)

CREATE TABLE HangSanXuat(
	ma_hang_sx AS 'BRAND_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ten_hang_sx nvarchar(51) NOT NULL UNIQUE,
	logo nchar(20) NOT NULL UNIQUE,
	AutoIncrement INT IDENTITY(1,1),
)

CREATE TABLE HoaDon(
	ma_hoa_don AS 'HOADON_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ma_khach_hang VARCHAR(20) NOT NULL,
	ngay_chot_don datetime NOT NULL,
	tinh_trang_giao_hang int NOT NULL,
	tong_tien bigint NOT NULL,
	ma_nhan_vien VARCHAR(20) NOT NULL,
	AutoIncrement INT IDENTITY(1,1),
) 

CREATE TABLE KhachHang(
	ma_khach_hang AS 'KH_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ho_ten nvarchar(50) NOT NULL UNIQUE,
	dia_chi nvarchar(50) NOT NULL,
	so_dien_thoai nchar(10) NOT NULL UNIQUE,
	gioi_tinh bit NOT NULL,
	username nchar(10) NOT NULL UNIQUE,
	password nchar(10) NOT NULL,
	email nchar(20) NOT NULL UNIQUE,
	AutoIncrement INT IDENTITY(1,1),
) 

CREATE TABLE LoaiSanPham(
	ma_loai_sp AS 'CATEGORY_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ten_loai_sp nvarchar(50) NOT NULL UNIQUE,
	anh_minh_hoa nchar(20) NOT NULL UNIQUE,
	AutoIncrement INT IDENTITY(1,1),
)

CREATE TABLE NhanVien(
	ma_nhan_vien AS 'NHANVIEN_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ten_nhan_vien nvarchar(50) NOT NULL UNIQUE,
	username nchar(10) NOT NULL UNIQUE,
	password nchar(10) NOT NULL,
	so_dien_thoai nchar(10) NOT NULL UNIQUE,
	AutoIncrement INT IDENTITY(1,1),
) 

CREATE TABLE PhanHoiBinhLuanSP(
	ma_phan_hoi AS 'PHAN-HOI_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ma_binh_luan VARCHAR(20) NOT NULL,
	ma_nhan_vien VARCHAR(20) NOT NULL,
	noi_dung nvarchar(255) NOT NULL,
	AutoIncrement INT IDENTITY(1,1),
)

CREATE TABLE SanPham(
	ma_san_pham AS 'PRODUCT_' + CAST(AutoIncrement AS VARCHAR(20)) PERSISTED NOT NULL,
	ten_san_pham nvarchar(50) NOT NULL UNIQUE,
	ma_loai_sp VARCHAR(20) NOT NULL,
	ma_hang_sx VARCHAR(20) NOT NULL,
	trang_thai_sp int NOT NULL,
	gia bigint NOT NULL,
	AutoIncrement INT IDENTITY(1,1),
)

<!-- Add Primary Key -->
ALTER TABLE SanPham ADD PRIMARY KEY (ma_san_pham);
ALTER TABLE PhanHoiBinhLuanSP ADD PRIMARY KEY (ma_phan_hoi);
ALTER TABLE NhanVien ADD PRIMARY KEY (ma_nhan_vien);
ALTER TABLE LoaiSanPham ADD PRIMARY KEY (ma_loai_sp);
ALTER TABLE KhachHang ADD PRIMARY KEY (ma_khach_hang);
ALTER TABLE HoaDon ADD PRIMARY KEY (ma_hoa_don);
ALTER TABLE HangSanXuat ADD PRIMARY KEY (ma_hang_sx);
ALTER TABLE ChiTietHoaDon ADD PRIMARY KEY (ma_chi_tiet_hoa_don);
ALTER TABLE BinhLuanSanPham ADD PRIMARY KEY (ma_binh_luan);
ALTER TABLE AnhSanPham ADD PRIMARY KEY (ma_binh_luan);




<!-- Add Foreign key -->
ALTER TABLE AnhSanPham ADD CONSTRAINT FK_AnhSanPham_SanPham FOREIGN KEY(ma_san_pham)
REFERENCES SanPham (ma_san_pham)

ALTER TABLE AnhSanPham CHECK CONSTRAINT FK_AnhSanPham_SanPham

ALTER TABLE BienDongGia  WITH CHECK ADD  CONSTRAINT FK_BienDongGia_SanPham FOREIGN KEY(ma_san_pham)
REFERENCES SanPham (ma_san_pham)

ALTER TABLE BienDongGia CHECK CONSTRAINT FK_BienDongGia_SanPham

ALTER TABLE BinhLuanSanPham  WITH CHECK ADD  CONSTRAINT FK_BinhLuanSanPham_KhachHang FOREIGN KEY(ma_khach_hang)
REFERENCES KhachHang (ma_khach_hang)

ALTER TABLE BinhLuanSanPham CHECK CONSTRAINT FK_BinhLuanSanPham_KhachHang

ALTER TABLE BinhLuanSanPham  WITH CHECK ADD  CONSTRAINT FK_BinhLuanSanPham_SanPham FOREIGN KEY(ma_san_pham)
REFERENCES SanPham (ma_san_pham)

ALTER TABLE BinhLuanSanPham CHECK CONSTRAINT FK_BinhLuanSanPham_SanPham

ALTER TABLE ChiTietHoaDon  WITH CHECK ADD  CONSTRAINT FK_ChiTietHoaDon_HoaDon FOREIGN KEY(ma_hoa_don)
REFERENCES HoaDon (ma_hoa_don)

ALTER TABLE ChiTietHoaDon CHECK CONSTRAINT FK_ChiTietHoaDon_HoaDon

ALTER TABLE ChiTietHoaDon  WITH CHECK ADD  CONSTRAINT FK_ChiTietHoaDon_SanPham FOREIGN KEY(ma_san_pham)
REFERENCES SanPham (ma_san_pham)

ALTER TABLE ChiTietHoaDon CHECK CONSTRAINT FK_ChiTietHoaDon_SanPham

ALTER TABLE ChiTietSanPham  WITH CHECK ADD  CONSTRAINT FK_ChiTietSanPham_SanPham FOREIGN KEY(ma_san_pham)
REFERENCES SanPham (ma_san_pham)

ALTER TABLE ChiTietSanPham CHECK CONSTRAINT FK_ChiTietSanPham_SanPham

ALTER TABLE GioHang  WITH CHECK ADD  CONSTRAINT FK_GioHang_SanPham FOREIGN KEY(ma_san_pham)
REFERENCES SanPham (ma_san_pham)

ALTER TABLE GioHang CHECK CONSTRAINT FK_GioHang_SanPham

ALTER TABLE HoaDon  WITH CHECK ADD  CONSTRAINT FK_HoaDon_KhachHang FOREIGN KEY(ma_khach_hang)
REFERENCES KhachHang (ma_khach_hang)

ALTER TABLE HoaDon CHECK CONSTRAINT FK_HoaDon_KhachHang

ALTER TABLE HoaDon  WITH CHECK ADD  CONSTRAINT FK_HoaDon_NhanVien FOREIGN KEY(ma_nhan_vien)
REFERENCES NhanVien (ma_nhan_vien)

ALTER TABLE HoaDon CHECK CONSTRAINT FK_HoaDon_NhanVien

ALTER TABLE PhanHoiBinhLuanSP  WITH CHECK ADD  CONSTRAINT FK_PhanHoiBinhLuanSP_BinhLuanSanPham FOREIGN KEY(ma_binh_luan)
REFERENCES BinhLuanSanPham (ma_binh_luan)

ALTER TABLE PhanHoiBinhLuanSP CHECK CONSTRAINT FK_PhanHoiBinhLuanSP_BinhLuanSanPham

ALTER TABLE PhanHoiBinhLuanSP  WITH CHECK ADD  CONSTRAINT FK_PhanHoiBinhLuanSP_NhanVien FOREIGN KEY(ma_nhan_vien)
REFERENCES NhanVien (ma_nhan_vien)

ALTER TABLE PhanHoiBinhLuanSP CHECK CONSTRAINT FK_PhanHoiBinhLuanSP_NhanVien

ALTER TABLE SanPham  WITH CHECK ADD  CONSTRAINT FK_SanPham_HangSanXuat FOREIGN KEY(ma_hang_sx)
REFERENCES HangSanXuat (ma_hang_sx)

ALTER TABLE SanPham CHECK CONSTRAINT FK_SanPham_HangSanXuat

