USE [master]
GO
/****** Object:  Database [shop_laptop]    Script Date: 6/5/2022 11:22:41 AM ******/
CREATE DATABASE [shop_laptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shop_laptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\shop_laptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shop_laptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\shop_laptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shop_laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shop_laptop]
GO
/****** Object:  Table [dbo].[AnhSanPham]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhSanPham](
	[ma_anh] [int] IDENTITY(1,1) NOT NULL,
	[ma_san_pham] [int] NOT NULL,
	[file_anh] [nchar](20) NOT NULL,
 CONSTRAINT [PK__AnhSanPh__06C6A4630B7103A0] PRIMARY KEY CLUSTERED 
(
	[ma_anh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienDongGia]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienDongGia](
	[ma_bien_dong] [int] IDENTITY(1,1) NOT NULL,
	[ma_san_pham] [int] NOT NULL,
	[gia_nhap] [bigint] NOT NULL,
	[lan_thay_doi_gia] [int] NOT NULL,
	[thoi_gian] [date] NOT NULL,
	[chiet_khau] [float] NOT NULL,
 CONSTRAINT [PK_BienDongGia] PRIMARY KEY CLUSTERED 
(
	[ma_bien_dong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuanSanPham]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuanSanPham](
	[ma_binh_luan] [int] IDENTITY(1,1) NOT NULL,
	[ma_khach_hang] [int] NOT NULL,
	[ma_san_pham] [int] NOT NULL,
	[noi_dung] [nvarchar](60) NOT NULL,
	[trang_thai] [bit] NOT NULL,
 CONSTRAINT [PK__BinhLuan__300DD2D85FA64E47] PRIMARY KEY CLUSTERED 
(
	[ma_binh_luan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ma_chi_tiet_hoa_don] [int] IDENTITY(1,1) NOT NULL,
	[ma_hoa_don] [int] NOT NULL,
	[ma_san_pham] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[don_gia] [bigint] NOT NULL,
 CONSTRAINT [PK__ChiTietH__051D20008926D693] PRIMARY KEY CLUSTERED 
(
	[ma_chi_tiet_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[ma_san_pham] [int] NOT NULL,
	[cpu] [nvarchar](40) NULL,
	[card_do_hoa] [nvarchar](40) NULL,
	[do_phan_giai] [nvarchar](10) NULL,
	[o_cung] [int] NULL,
	[he_dieu_hanh] [nvarchar](20) NULL,
	[man_hinh] [float] NULL,
	[kich_thuoc] [nchar](100) NULL,
	[trong_luong] [float] NOT NULL,
	[mo_ta_them] [text] NOT NULL,
	[ram] [int] NULL,
	[so_luong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietSanPham] PRIMARY KEY CLUSTERED 
(
	[ma_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__ChiTietS__9D25990DDADFB156] UNIQUE NONCLUSTERED 
(
	[ma_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[ma_khach_hang] [int] IDENTITY(1,1) NOT NULL,
	[ma_san_pham] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[ma_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__GioHang__C9817AF76C6936FA] UNIQUE NONCLUSTERED 
(
	[ma_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__GioHang__C9817AF7CD6FD201] UNIQUE NONCLUSTERED 
(
	[ma_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[ma_hang_sx] [int] IDENTITY(1,1) NOT NULL,
	[ten_hang_sx] [nvarchar](51) NOT NULL,
	[logo] [nchar](20) NOT NULL,
 CONSTRAINT [PK__HangSanX__44ECD7A2B5969013] PRIMARY KEY CLUSTERED 
(
	[ma_hang_sx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__HangSanX__26EDDD50177D9D99] UNIQUE NONCLUSTERED 
(
	[ten_hang_sx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__HangSanX__26EDDD5080E8DF10] UNIQUE NONCLUSTERED 
(
	[ten_hang_sx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__HangSanX__26EDDD5092E6BD6F] UNIQUE NONCLUSTERED 
(
	[ten_hang_sx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__HangSanX__A3C7455040CFDF1D] UNIQUE NONCLUSTERED 
(
	[logo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__HangSanX__A3C745506F171985] UNIQUE NONCLUSTERED 
(
	[logo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__HangSanX__A3C74550AF1B14A7] UNIQUE NONCLUSTERED 
(
	[logo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ma_hoa_don] [int] IDENTITY(1,1) NOT NULL,
	[ma_khach_hang] [int] NOT NULL,
	[ngay_chot_don] [datetime] NULL,
	[tinh_trang_giao_hang] [int] NOT NULL,
	[tong_tien] [bigint] NOT NULL,
	[ma_nhan_vien] [int] NOT NULL,
	[trang_thai] [bit] NOT NULL,
 CONSTRAINT [PK__HoaDon__DBE2D9E3C547A2C2] PRIMARY KEY CLUSTERED 
(
	[ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ma_khach_hang] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](50) NOT NULL,
	[dia_chi] [nvarchar](50) NOT NULL,
	[so_dien_thoai] [nchar](10) NOT NULL,
	[gioi_tinh] [bit] NOT NULL,
	[username] [nchar](20) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[email] [nchar](20) NOT NULL,
 CONSTRAINT [PK__KhachHan__C9817AF6341ED6CB] PRIMARY KEY CLUSTERED 
(
	[ma_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__KhachHan__35968CB6E00EE187] UNIQUE NONCLUSTERED 
(
	[username] ASC,
	[email] ASC,
	[ho_ten] ASC,
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[ma_loai_sp] [int] IDENTITY(1,1) NOT NULL,
	[ten_loai_sp] [nvarchar](50) NOT NULL,
	[anh_minh_hoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__LoaiSanP__1E1E581AE2366A70] PRIMARY KEY CLUSTERED 
(
	[ma_loai_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__LoaiSanP__63C2C7EEB5142B17] UNIQUE NONCLUSTERED 
(
	[ten_loai_sp] ASC,
	[anh_minh_hoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten_loai_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ma_nhan_vien] [int] IDENTITY(1,1) NOT NULL,
	[ten_nhan_vien] [nvarchar](50) NOT NULL,
	[username] [nchar](20) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[so_dien_thoai] [nchar](11) NOT NULL,
 CONSTRAINT [PK__NhanVien__6781B7B9CFD71863] PRIMARY KEY CLUSTERED 
(
	[ma_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__NhanVien__CC182619188FB46B] UNIQUE NONCLUSTERED 
(
	[ten_nhan_vien] ASC,
	[username] ASC,
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__NhanVien__CC182619FFFBE165] UNIQUE NONCLUSTERED 
(
	[ten_nhan_vien] ASC,
	[username] ASC,
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoiBinhLuanSP]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoiBinhLuanSP](
	[ma_phan_hoi] [int] IDENTITY(1,1) NOT NULL,
	[ma_binh_luan] [int] NOT NULL,
	[ma_nhan_vien] [int] NOT NULL,
	[noi_dung] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__PhanHoiB__36D78DA93574E074] PRIMARY KEY CLUSTERED 
(
	[ma_phan_hoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/5/2022 11:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ma_san_pham] [int] IDENTITY(1,1) NOT NULL,
	[ten_san_pham] [nvarchar](50) NOT NULL,
	[ma_loai_sp] [int] NOT NULL,
	[ma_hang_sx] [int] NOT NULL,
	[trang_thai_sp] [int] NOT NULL,
 CONSTRAINT [PK__SanPham__9D25990C847C7047] PRIMARY KEY CLUSTERED 
(
	[ma_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__SanPham__BA66C031EDFC9119] UNIQUE NONCLUSTERED 
(
	[ten_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BinhLuanSanPham] ADD  CONSTRAINT [DF_BinhLuanSanPham_trang_thai]  DEFAULT ((0)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[AnhSanPham]  WITH CHECK ADD  CONSTRAINT [FK_AnhSanPham_SanPham] FOREIGN KEY([ma_san_pham])
REFERENCES [dbo].[SanPham] ([ma_san_pham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnhSanPham] CHECK CONSTRAINT [FK_AnhSanPham_SanPham]
GO
ALTER TABLE [dbo].[BienDongGia]  WITH CHECK ADD  CONSTRAINT [FK_BienDongGia_SanPham] FOREIGN KEY([ma_san_pham])
REFERENCES [dbo].[SanPham] ([ma_san_pham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienDongGia] CHECK CONSTRAINT [FK_BienDongGia_SanPham]
GO
ALTER TABLE [dbo].[BinhLuanSanPham]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanSanPham_KhachHang] FOREIGN KEY([ma_khach_hang])
REFERENCES [dbo].[KhachHang] ([ma_khach_hang])
GO
ALTER TABLE [dbo].[BinhLuanSanPham] CHECK CONSTRAINT [FK_BinhLuanSanPham_KhachHang]
GO
ALTER TABLE [dbo].[BinhLuanSanPham]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanSanPham_SanPham] FOREIGN KEY([ma_san_pham])
REFERENCES [dbo].[SanPham] ([ma_san_pham])
GO
ALTER TABLE [dbo].[BinhLuanSanPham] CHECK CONSTRAINT [FK_BinhLuanSanPham_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([ma_hoa_don])
REFERENCES [dbo].[HoaDon] ([ma_hoa_don])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([ma_san_pham])
REFERENCES [dbo].[SanPham] ([ma_san_pham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_SanPham] FOREIGN KEY([ma_san_pham])
REFERENCES [dbo].[SanPham] ([ma_san_pham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([ma_san_pham])
REFERENCES [dbo].[SanPham] ([ma_san_pham])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([ma_khach_hang])
REFERENCES [dbo].[KhachHang] ([ma_khach_hang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[NhanVien] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[PhanHoiBinhLuanSP]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoiBinhLuanSP_BinhLuanSanPham] FOREIGN KEY([ma_binh_luan])
REFERENCES [dbo].[BinhLuanSanPham] ([ma_binh_luan])
GO
ALTER TABLE [dbo].[PhanHoiBinhLuanSP] CHECK CONSTRAINT [FK_PhanHoiBinhLuanSP_BinhLuanSanPham]
GO
ALTER TABLE [dbo].[PhanHoiBinhLuanSP]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoiBinhLuanSP_NhanVien] FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[NhanVien] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[PhanHoiBinhLuanSP] CHECK CONSTRAINT [FK_PhanHoiBinhLuanSP_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSanXuat] FOREIGN KEY([ma_hang_sx])
REFERENCES [dbo].[HangSanXuat] ([ma_hang_sx])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSanXuat]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([ma_loai_sp])
REFERENCES [dbo].[LoaiSanPham] ([ma_loai_sp])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[BienDongGia]  WITH CHECK ADD  CONSTRAINT [CK_chiet_khau] CHECK  (([chiet_khau]>(0)))
GO
ALTER TABLE [dbo].[BienDongGia] CHECK CONSTRAINT [CK_chiet_khau]
GO
ALTER TABLE [dbo].[BienDongGia]  WITH CHECK ADD  CONSTRAINT [CK_gia_nhap] CHECK  (([gia_nhap]>=(100000)))
GO
ALTER TABLE [dbo].[BienDongGia] CHECK CONSTRAINT [CK_gia_nhap]
GO
ALTER TABLE [dbo].[BienDongGia]  WITH CHECK ADD  CONSTRAINT [CK_lan_thay_doi_gia] CHECK  (([lan_thay_doi_gia]>(0)))
GO
ALTER TABLE [dbo].[BienDongGia] CHECK CONSTRAINT [CK_lan_thay_doi_gia]
GO
USE [master]
GO
